@{
    ViewData["Title"] = "Details";
}

<h1>Place Info:</h1>
<ul>
    <li>ID: @Model.PlaceId</li>
    <li>City: @Model.City</li>
    <li>Country: @Model.Country</li>
    <li>Description of the Model: @Model.Description</li>
    <li>Rating: @Model.Rating</li>
    <li>SnapShot of the place: @Model.ImageUrl</li>
</ul>
<br>

<a href="/Places/Edit/@(Model.PlaceId)"><p>Edit</p></a>
<br>

<a href="/Places"><p>Return</p></a>

<a href="/Places/Delete/@(Model.PlaceId)"><p>DELETE Place</p></a>